a {
text-decoration: none;
color: black;
}

.navbar {
  background: antiquewhite;
}

h1 {
  margin: 15px;;
}

 .card-flat {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-flat > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-flat h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-flat p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-flat .card-flat-title {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-flat-title > .card-flat-infos {
  align-items: end;
  margin: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}
